$color-black: rgba(0, 0, 0, .54);
$color-white: rgb(255, 255, 255);
$color-red: #D0021B;
$color-green: #7ED321;

// gradient blue
$color-blue: #4267B2;
$color-blue-dark: #29487D;
$gradient-linear-blue: linear-gradient(-153deg, $color-blue 0%, $color-blue-dark 95%);