//base
$z-idnex-under-base: -1;
$z-index-base: 0;
$z-idnex-over-base: 10;

// floating-content
$z-index-floating-content: 100;

//header
$z-index-under-header: 900;
$z-idnex-header: 1000;
$z-index-over-hedaer: 1100;

//over all
$z-index-over-all: 9999;
